.hide{
  display:none;
}

.panel{
  background:#555;
  border: 1px solid black;
  border-radius: 1px;
  color:white;
  margin:0;
padding: 10px 10px 10px 10px;
text-align:center;
}
.heading{
  background:#555;
  border: 1px solid black;
  border-radius: 1px;
  color:white;
  margin:0;
padding: 10px 10px 10px 10px;
text-align:center;
}

.body{
  background:white;
  border: 1px solid black;
  border-radius: 1px;
  color:black;
  margin:0;
padding: 10px 10px 10px 10px;

}

.panelContent{
  background:white;
  border: 1px solid black;
  border-radius: 1px;
  color:black;
  margin:0;
padding: 10px 10px 10px 10px;
}
footer{
  clear:both;
  text-align:center;
}
